<%- include('../partials/header') %>

<table id="all-flights">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Departure Airport</th>
        <th>Flight Number</th>
        <th>Departing</th>
        <th>Destination</th>
        <th>Arrival Time</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><% f.destinations.forEach(function(d) { %>
              <%= d.airport %> <br>
              At: <%= d.arrival %> <br>
              <% }); %> 
          </td>
          <td><a href="/flights/<%= f._id %>">Details</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    
  <%- include('../partials/footer') %>
  