<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Departure Airport</th>
        <th>Flight Number</th>
        <th>Departing</th>
        <th>Arrival Airport</th>
        <th>Arrival Time</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><%= f.destinations.airport %></td>
          <td><%= f.destinations.arrival %></td>
          <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    
  <%- include('../partials/footer') %>
  