<%- include('../partials/header') %>

<table id="single-flight">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Departing</th>
        <th>Flight Number</th>
        <th>Departs</th>
        <th>Arrives</th>
      </tr>
    </thead>
    <tbody>
      <% flight.id %>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
          <td><% flight.destinations.forEach(function(d) { %>
                <%= d.airport %> 
                at: <%= d.arrival %> <br>
          <% }); %> 
        </td>
        </tr>
      </tbody>
    </table>
    <br>
    <form id="addTicket" action="/flights/<%= flight._id %>/tickets" method="POST">
        <label for="ticketId">Seat</label>
      <input name="seat" required pattern="[A-F][1-9]\d?"><br>
      <label for="price">Price</label>
      <input name="price" type="number"><br>
      <input type="submit" value="Add Ticket">
    </form>
    <br>
<form name="add-destination" action="/flights/<%= flight.id %>/destinations" method="POST">
    <label>Destination:</label>
        <select name="airport">
            <% flightEnum.map(function(f) { %>
            <option value="<%= f %>"> <%= f %></option>
            <% }); %>
        </select><br>
    <label>Arrival Time:</label>
        <input name="arrival" type="datetime-local"><br>
        <input type="submit" value="Add Destination">
</form>
<%- include('../partials/footer') %>
